<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<table>

    <tr>
        <td><b>artykuł</b></td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto, aut consectetur corporis doloremque explicabo id, inventore iusto molestiae nam neque, nesciunt numquam odit placeat quasi quis sed tempora totam.</td>

    </tr>
    <tr>
        <td><b>artykuł</b></td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis cumque cupiditate illo iste magnam, nam, numquam optio provident quam, repellat tenetur ut vel veniam vero. Beatae inventore maxime quisquam!</td>

    </tr>
    <tr>
        <td><b>artykuł</b></td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur, deserunt dignissimos harum ipsum maiores minima minus molestiae nesciunt non odit porro quaerat quasi quis sapiente sed sequi voluptas.</td>

    </tr>
    <tr>
        <td><b>artykuł</b></td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda deserunt distinctio iure possimus rem vel. A alias aliquam corporis distinctio, dolore fuga neque nobis nostrum officiis placeat quas tenetur?</td>

    </tr>
    <tr>
        <td><b>artykuł</b></td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis culpa dicta dignissimos ea eos neque odio, omnis pariatur quia quis reiciendis sapiente tempora tempore veritatis. Aspernatur beatae dolorum numquam?</td>

    </tr>

</table>
</body>
</html>